.btn {

  &_gray {
    display: flex;
    align-items: center;
    background-color: var(--color-black);
    font-family: var(--font-RFD);
    line-height: 120%;
    color: #fff;
    background-image: url("../img/arrow-forward-white.svg");
    background-repeat: no-repeat;

  }

  &_light {
    display: flex;
    align-items: center;
    font-family: var(--font-RFD);
    line-height: 120%;
    color: var(--color-black);
    background-image: url("../img/arrow-forward-black.svg");
    background-repeat: no-repeat;
  }
}



