<section class="contacts">
  <div class="container contacts__container">
    <div class="contacts__wrapper">
      <div class="contacts__item contacts__item_title">
        <h2 class="contacts__title">Связаться с нами</h2>
      </div>
      <div class="contacts__item contacts__item_phones">
        <div class="contacts__descr">Контакты</div>
        <div class="contacts__phones">
          <a href="tel:+73472798845" class="contacts__info">+7(347) 279‒88‒45 (Уфа)</a>
          <a href="mailto:ufa@reg-set.ru" class="contacts__info">ufa@reg-set.ru</a>
        </div>
      </div>
      <div class="contacts__item contacts__item_address">
        <div class="contacts__descr">Адрес</div>
        <div class="contacts__address">
          <p class="contacts__info">г. Уфа</p>
          <p class="contacts__info">Силикатная ул., 25/1</p>
          <p class="contacts__info">пн-пт 08:30–17:30</p>
        </div>
      </div>
    </div>
  </div>
</section>
