<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <ul class="footer__list footer__list_catalog list-reset">
        <li class="footer__item">
          <h3 class="footer__title">Каталог</h3>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">Ручки мебельные</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Фасады мебельные</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Новинки</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Распродажа</a></li>
      </ul>
      <ul class="footer__list footer__list_catalog list-reset">
        <li class="footer__item">
          <h3 class="footer__title">Покупателю</h3>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">Доставка</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Гарантии</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Договор оферты</a></li>
      </ul>
      <ul class="footer__list footer__list_catalog list-reset">
        <li class="footer__item">
          <h3 class="footer__title">Компания</h3>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">О нас</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Парнеры</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Новости</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Сертификаты</a></li>
      </ul>
      <ul class="footer__list footer__list_catalog list-reset">
        <li class="footer__item">
          <h3 class="footer__title">Мы принимаем</h3>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">Mastercard</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Visa</a></li>
        <li class="footer__item"><a href="#" class="footer__link">МИР</a></li>
      </ul>
    </div>
  </div>
</footer>
