<header class="header">
  <div class="container header__container">
    <div class="header__wrapper">
      <a href="#" class="city">
        Уфа
      </a>
      <nav class="nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link">О компании</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Бренды</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Доставка и оплата</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Гарантии</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Новости</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Статьи</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
      <div class="header-contacts">
        <a href="tel:+73472798845" class="header-contacts__link">+7(347) 279‒88‒45</a>
      </div>
    </div>
  </div>
</header>
