<section class="hero">
  <div class="container hero__container">
    <div class="hero__img">
      <img src="img/hero/hero-img.jpg" alt="">
    </div>
    <h1 class="hero__title">Поставщик качественной фурнитуры</h1>
    <p class="hero__description">Наша компания является производителем в узкоспециализированной товарной нише, но в
      своем сегменте представляет широчайший ассортимент продукции с неизменно высоким качеством.</p>
    <div class="hero__empty hero__empty_1"></div>
    <div class="hero__empty hero__empty_2"></div>
    <a href="catalog.html" class="hero__btn btn btn_gray">В каталог</a>
  </div>
</section>
