<section class="main-slider">
  <div class="container main-slider__container">
    <h2 class="main-slider__title">Доводчик 604-24 WindoorPro (110 кг)</h2>
    <div class="main-slider__wrapper">
      <div class="main-slider__description">WindoorPro - это верхний доводчик для одностворчатых дверей с рычажной тягой. Идеально подходит для установки на входные двери массой до 110 кг. Имеет две регулировки скорости закрывания - скорость закрывания и гидравлический дохлоп.
      </div>
      <div class="main-slider__img">
        <img src="img/main-slider/dovodchik.jpg" alt="">
      </div>
      <div class="main-slider__controls">
        <div class="main-slider__counter">1/5</div>
        <div class="main-slider__arrows">
          <div><img src="img/main-slider/arrow-left.svg" alt=""></div>
          <div><img src="img/main-slider/arrow-right.svg" alt=""></div>
        </div>
        <a href="#" class="main-slider__btn btn btn_light">В каталог</a>
      </div>
      <div class="main-slider__empty"></div>
    </div>
  </div>
</section>
