<section class="popular">
  <div class="container popular__container">
      <div class="popular__item popular__item_title">
        <h2 class="popular__title">Популярные категории</h2>
      </div>
      <div class="popular__item popular__item_img">
        <div class="popular__img popular__img_big">
          <img src="img/popular/category_lock.png" alt="">
        </div>
        <a href="#" class="popular__item__description">Замки дверные</a>
      </div>
      <div class="popular__item popular__item_img">
        <div class="popular__img popular__img_big">
          <img src="img/popular/winhandle.png" alt="">
        </div>
        <a href="#" class="popular__item__description">Ручки оконные</a>
      </div>
      <div class="popular__item popular__item_img">
        <div class="popular__img popular__img_small">
          <img src="img/popular/foam.png" alt="">
        </div>
        <a href="#" class="popular__item__description">Монтажная пена</a>
      </div>
      <div class="popular__item popular__item_img">
        <div class="popular__img  popular__img_small">
          <img src="img/popular/babylock.png" alt="">
        </div>
        <a href="#" class="popular__item__description">Детские замки</a>
      </div>
      <div class="popular__item popular__item_btn">
        <a href="#" class="popular__btn btn btn_light">Все категории</a>
      </div>
  </div>
</section>
