<section class="section-catalog">
  <div class="container">
    <div class="section-catalog__wrapper">
      <div class="section-catalog__items section-catalog__items_small">
        <div class="section-catalog__items_wrapper">
          <div class="section-catalog__img section-catalog__img_small">
            <img src="img/catalog/doors.jpg" alt="">
          </div>
          <h2 class="section-catalog__title">Дверная группа</h2>
          <ul class="section-catalog__list list-reset">
            <li class="section-catalog__item"><a href="#" class="section-catalog__link">Замки дверные</a></li>
            <li class="section-catalog__item"><a href="#" class="section-catalog__link">Замковые цилиндры</a></li>
            <li class="section-catalog__item"><a href="#" class="section-catalog__link">Нажимные гарнитуры</a></li>
            <li class="section-catalog__item"><a href="#" class="section-catalog__link section-catalog__link_more">Показать все...</a></li>
          </ul>
        </div>
      </div>
      <div class="section-catalog__items"></div>
      <div class="section-catalog__items"></div>
      <div class="section-catalog__items"></div>
      <div class="section-catalog__items"></div>
      <div class="section-catalog__items"></div>
      <div class="section-catalog__items"></div>
    </div>
  </div>
</section>
