<section class="top-menu">
  <div class="container top-menu__container">
    <div class="top-menu__left">
      <div class="catalog-menu">
        <a href="#" class="catalog-menu__link">Каталог</a>
        <a href="#" class="catalog-menu__burger">
          <svg class="">
            <use xlink:href="img/sprite.svg#burger"></use>
          </svg>
        </a>
      </div>
      <div class="newsale-menu">
        <ul class="newsale-menu__list list-reset">
          <li class="newsale-menu__item"><a href="#" class="newsale-menu__link">Новинки</a></li>
          <li class="newsale-menu__item"><a href="#" class="newsale-menu__link">Распродажа</a></li>
        </ul>
      </div>
    </div>
    <div class="top-menu__logo">
      <a href="#" class="top-logo">
        <img src="img/logo1.png" alt="Логотип Региональная Сеть">
      </a>
    </div>
    <div class="top-menu__right">
      <div class="icons-top">
        <ul class="icons-top__list list-reset">
          <li class="icons-top__item">
            <a href="#" class="icons-top__link">
              <svg class="">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </a>
          </li>
          <li class="icons-top__item">
            <a href="#" class="icons-top__link">
              <svg class="">
                <use xlink:href="img/sprite.svg#person"></use>
              </svg>
            </a>
          </li>
          <li class="icons-top__item">
            <a href="#" class="icons-top__link">
              <svg class="">
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
